* {
    box-sizing: border-box;
  }
  html {
    background-color: #fff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex:1;
  }
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    background-color: lightblue;
    
  }
  #footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: lightblue;
    color: blue;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
  }
  #menu ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end;
    
  } 
  li a{
    text-decoration: none;
  }  
.filter-viz1, .filter-viz2{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

#filter1, #filter2{
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  width: 250px;
}
#viz1{
  background-color: lightgray;
  margin-left: 75px;
  padding: 3px;
  width: 100%;
  height: 100%;
}
#viz1, #viz2{
  background-color: lightgray;
  margin-left: 75px;
  padding: 3px;
  width: 700px;
  height: 300px;
}
#viz-title{
  margin: auto;
}

#viz2{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}
#viz2 div{
  background-color: white;
  width: fit-content;
  margin: auto;

}

#viz2 #companies, #sensitive, #info{
  border-color: black;
  border-radius: 20px;
  text-align: center;
  width: fit-content;
  height: fit-content;
}
#viz2 #companies{
  background-color: aqua;
} 
#viz2 #sensitive{
  background-color: red;
} 
.box {
  border: 2px solid white;
  border-radius: 4px;

  width: fit-content;
  height:fit-content;
  padding: 1.5rem;
  margin: 0 auto;
  color: blue;
}
li a:hover {
  /* Hue, saturation, luminosity, alpha */
  background-color:white;
  /* red, green, blue, alpha */
  color: rgb(246, 169, 93);
  text-decoration: none;
}

/* How To Write A Media Query For Small Screens */
  
@media only screen and (max-width: 1000px){
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo{
    text-align: center;
  }
  .filter-viz1, .filter-viz2{
    display: flex;
    flex-direction: column;
  }
  #filter1, #filter2{
    background-color: lightblue;
    margin: auto;
    padding: 5px;
    width: 380px;
  }
  #viz1, #viz2{
    background-color: lightgray;
    margin:auto;
    padding: 3px;
    width: 380px;
    height: auto;
  }
  .box{
    border-color: #fff;
    margin: auto;
  }
  #myPie{
    width: 100%;
    height: 100%
  }
}
